@charset "UTF-8";
.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="User"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="User"]:before {
  content: "👥";
  margin-right: 5px; }

.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="Message"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="Message"]:before {
  content: "📜";
  margin-right: 5px; }

.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="Thread"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="Thread"]:before {
  content: "🧵";
  margin-right: 5px; }

.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="Item"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="Item"]:before {
  content: "🛍";
  margin-right: 5px; }

.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="Case"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="Case"]:before {
  content: "💼";
  margin-right: 5px; }

.CoveoFacet[data-field="@objecttype"] span.coveo-facet-value-caption[title="Task"]:before, .coveo-facet-search-results span.coveo-facet-value-caption[title="Task"]:before {
  content: "✅";
  margin-right: 5px; }
